DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=piggyme

JWT_SECRET=123

# Configurações de E-mail (exemplo Mailtrap)
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=25, 465 , 587 or 2525
EMAIL_USER=09d91cdb1b09f9
EMAIL_PASS=96eace1aae34b9

# URL base para montar o link
FRONTEND_URL=http://localhost:3000